.sidebarGrid {
    background-color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 23% !important;
}

.sidebarBottomGrid {
    width: 100%;
    background-color: #fff;
    /* border-top: 1px solid #16db93; */
    box-shadow: 0px 0px 10px #8888;
    padding: 5px 0 0 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    /* padding-right: 25px !important; */
    justify-content: space-between;
}

.sidebarTop {
    height: 100px;
    border-bottom: 2px solid #f6f8f7;
}

.sidebarTop img {
    height: 75px;
    color: #16db93;
    padding: 25px 30px 0 0;
}

.sidebarTopSpan {
    padding: 8px;
    position: absolute;
    margin-top: 30px;
    font-size: 20px;
}

.list {
    white-space: nowrap;
}

.listBottom {
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
}

.css-186175o-MuiGrid-root {
    margin: 0 auto;
}

.sidebarIcon {
    min-width: 38px !important;
}

.sidebarText {
    text-align: right !important;
    font-size: 18px !important;
}

.sidebarTextBottom {
    text-align: right !important;
    position: absolute;
    padding-right: 45px;
}

.css-10hburv-MuiTypography-root {
    font-size: 14px !important;
    letter-spacing: 0 !important;
}

.sidebarli li {
    transition: background 0.5s, color 0.5s
}

.sidebarli li:hover {
    background-color: #e0e0e0;
    opacity: 1;
    }

.MuiPaper-root {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

