.modal-content{
  border-radius: 25px;
  padding: 25px;
}

.modal-header {
    display: grid !important;
    border-bottom: none;
    position: relative;
    justify-content: center;
}

/* .nahade-modal-body {
  padding: 0;
} */
