.user-img {
    margin: -25px auto 20px;
    background-color: #fff;
    width: 80px;
}

.user-box-title {
    font-size: 12px;
    font-weight: 800;
}

.user-box:focus ~ .user-box, .user-box:not(:focus) {
    opacity: 0.8;
}

.user-box-text {
    font-size: 12px;
    padding: 0 5px;
}

.userTypeMain {
    justify-content: space-around !important;
    display: flex !important;
    margin-bottom: 5%;
}

.userType {
    background-color: #F5F5F5 !important;
    width: 20% !important;
    /* padding: 14px 10px !important; */
    border-radius: 12px !important;
    border: none !important;
    height: 45px !important;
}

.userType:focus {
    background-color: #E2FFFB !important;
    border: 2px solid #3F9C91 !important;
    color: #3F9C91 !important;
}
