.top-text-login {
    color: #A2A2A2;
    font-size: 13px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
}

.authInput {
    background-color: #E2FFFB !important;
    border-radius: 8px !important;
    height: 50px !important;
    padding-right: 15px !important;
    padding-left: 10px !important;
    font-size: 13px !important;
    margin-bottom: 20px !important;
    display: block !important;
}

.verification-inputs {
    width: 15% !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.authSubmitBtn {
    background-color: #16db93 !important;
    border-radius: 8px !important;
    height: 50px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    font-size: 14px !important;
    font-weight: 800 !important;
}

.authImgTopBar {
    height:10%  !important;
    background-color: rgb( 0, 0, 0, 0.1);
    align-items: center !important;
    justify-content: center !important;
    padding-left: 10px;
    padding-right: 10px;
}

.authImgTopBarText {
    color: #fff;
}

.login-bottom-items {
    color: #A2A2A2 !important;
    justify-content: center;
}

.login-bottom-items p{
    font-size: 13px;
    padding-bottom: 5px;
}

.loginSocialIcon {
    padding: 5px;
    cursor: pointer;
}

.reactCodeInput {
    width: 100%;
    text-align: center
}
