.pest-product-card-box{

    background-color: #F6F8F7;
    border-radius: 8px;
    margin: 6px 0;

}

.pest-product-card-box-selected{

    background-color: #E2FFFB;
    border: 1px solid #0DB39F;
    border-radius: 8px;
    margin: 6px 0;

}


.pest-product-card-title{

    text-align: center;
    font-weight: 800;
    font-size: 14px;
    border-radius: 16px;
    margin: 0 12px;
    background-color: #fff;

}


.pest-product-card-title-selected{

    text-align: center;
    font-weight: 800;
    font-size: 14px;
    border-radius: 16px;
    margin: 0 12px;
    color: #fff;
    background-color: #0DB39F;

}

.btn-outline-dark-blue{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #2C689A;
    border-radius: 16px;
    width: 100%;
    padding: 16px 0;
    color: #2C689A;
}