.topLogo img {
    height: 40px;
    color: #16db93;
}

.bellBadge {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.bellBadge:hover {
    background-color: #e0e0e0;
    transition: background-color 1s ease-out 50ms
}

#account-menu ul{
    padding-bottom: 0;
}

.menuItemNoti {
    font-size: 12px !important;
}

.menuItemLastNoti{
    font-size: 10px !important;
    border-top: 1px solid #cfd3d2 !important;
    justify-content: center !important;
    background-color: #f2f8f6 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: #929292 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.imgGrid {
    padding-right: 2px;
    padding-top: 5px;
    /* background-color: #f2f8f6; */
    border-radius: 5px;
    height: 40px;
    max-width: 38px !important;
    margin: 2px !important;
}

.imgGrid img {
    width: 32px;
    height: 30px;
}

.dorpdownBox {
    color: #838383 !important;
    font-size: 12px !important;
    text-align: center !important;
    border: none !important;
    border-radius: 8px;
    padding-bottom: 5px !important;
    margin-top: -12px !important;
    padding-top: 15px !important;
    padding-right: 15px !important;
    float: left;
}

.dropdownli {
    cursor: pointer;
    margin: 5px;
    padding: 2px;
    border-radius: 3px;
}

.dropdownli:hover {
    background-color: #e0e0e0;
    opacity: 1;
}
