.topbarProfile {
    color: #383838 !important;
    display: flex !important;
    justify-content: space-between !important;
}

.imgGrid {
    padding: 5px;
    background-color: #f2f8f6;
    border-radius: 5px;
    height: 40px;
    margin-top: 5px !important;
    margin-right: 5px !important;
}

.imgGrid img {
    width: 32px;
    height: 30px;
}

