.page-container {
    background-color: white;
    border-radius: 20px;
    min-height: 80vh;
    padding: 30px 25px;
}

@media screen and (max-width: 899px) {
    .page-container {
        border-radius: 0 !important;
    }
}

.btn-outline-light-blue {
    color: #16db93;
    border: 1px solid #16db93;
    background-color: white;
    padding: 15px 60px;
    border-radius: 15px;
    height: 50px;
}

.btn-light-green {
    color: white;
    background-color: #16db93;
    padding: 15px 60px;
    border-radius: 15px;
    height: 50px;
}

.btn-outline-purple {
    color: #54478c;
    border: 1px solid #54478c;
    background-color: white;
    height: 40px;
    padding: 10px 30px;
    border-radius: 8px;
    height: 50px;
}

.btn-dark-blue {
    background-color: #2c699a;
    color: white;
    border: 1px solid transparent;
    padding: 15px 60px;
    border-radius: 8px;
    height: 50px;
}

.btn-light-gray {
    background-color: gray;
    color: white;
    border: 1px solid transparent;
    padding: 15px 60px;
    border-radius: 8px;
    height: 50px;
}

.btn-light-pink {
    background-color: #FED7D0;
    color: #F2634C !important;
    border: 1px solid transparent;
    padding: 15px 60px;
    border-radius: 8px;
    height: 50px;
}

.cus-alert-info {
    background-color: rgba(235, 245, 255, 1);
    padding: 20px 30px;
    border-radius: 8px;
    color: #2c699a;
}

.btn-help {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #2c699a;
    color: #2c699a;
    padding: 5px 50px;
}

.btn-gray {
    background-color: gray;
    border-radius: 8px;
    color: white;
    padding: 10px 50px;
    margin: 10px 20px;
}

.text-dark-blue {
    color: #2c699a;
}

.text-gray {
    color: #999;
}

.text-bold {
    font-weight: 800;
}

.filter-search {
    justify-content: space-between;
}

.search-input {
    background-color: #f6f8f7;
    border-radius: 8px;
    border: none;
    /* padding: 12px 25px; */
    padding: 22px 25px 6px 25px !important;
    text-align: right;
}

.search-icon {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 25px;
}

.search-input-field {
    background-color: #f6f8f7;
    border-radius: 0 8px 8px 0;
    border: none;
    padding: 12px 40px 12px 10px;
    /* color: #C2C2C2; */
}

.searchButton {
    background-color: #D9D9D9;
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 12px 16px;
}

.search-icon-modal {
    position: absolute;
    z-index: 1000;
    top: 8px;
    right: 25px;
}

.search-field-modal {
    display: inline-flex;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
}

.search-input-field-modal {
    background-color: #f6f8f7;
    border-radius: 0 8px 8px 0;
    border: none;
    padding: 8px 60px 8px 10px;
    /* color: #C2C2C2; */
}

.searchButton-modal {
    background-color: #D9D9D9;
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 8px 16px;
}

.file-uploader {
    border: 1px dashed #0a53be;
    cursor: pointer;
}

.img-selected {
    background-color: #16db9322;
    border: 1px solid #16db9388;
    color: gray;
    border-radius: 8px;
    padding: 20px 25px;
}

.nahade-item {
    background-color: #0a53be22;
    border-radius: 8px;
    border: 1px solid #0a53be77;
    padding: 20px 25px;
    color: #0a53be;
    font-weight: 900;
}

.share-link-box {
    width: max-content;
    background-color: #16db9322;
    color: #16db93;
    padding: 10px 20px;
    border-radius: 8px;
}

.table-test {
    border-spacing: 30px !important;
}

table thead {
    color: gray;
}

.tableToolIconBgGray {
    background-color: gray;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.tableToolIconBgBlue {
    background-color: #2c699a;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.tableToolIconBgOrange {
    background-color: #f2634c;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}


@media screen and (max-width: 762px) {

    .page-container {
        background-color: white;
        border-radius: 8px;
        padding: 5px 10px 10px 10px;
        margin: 10px 0 0 0;
    }


    .search-input {
        background-color: #f6f8f7;
        border-radius: 8px;
        border: none;
        padding: 10px 15px;
    }


    .btn-outline-light-blue {
        color: #16db93;
        border: 1px solid #16db93;
        background-color: white;
        padding: 10px 20px;
        border-radius: 8px;
    }

    .btn-dark-blue {
        background-color: #2c699a;
        color: white;
        border: 1px solid transparent;
        padding: 10px 20px;
        border-radius: 8px;
    }

    .btn-light-gray {
        background-color: gray;
        color: white;
        border: 1px solid transparent;
        padding: 10px 20px;
        border-radius: 8px;
    }

}
