.page-title{
    font-family: 'IRANSans';
    font-style: bold;
    font-weight: 800;
    font-size: 18px;
    margin-right: 12px;
    color: #4A4A4A;
}


.page-description{
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* margin: 0 32px; */
    text-align: justify;
    color: #676767;
}


@media screen and (max-width: 762px) {
    .page-title{
    /* Title 3/bold */
    
        font-family: 'IRANSans';
        font-style: bold;
        font-weight: 800;
        font-size: 18px;
        margin-top: 16px;
        margin-right: 12px;
        color: #4A4A4A;
    
    }

    .page-title{
        font-family: 'IRANSans';
        font-style: bold;
        font-weight: 800;
        font-size: 18px;
        margin-right: 12px;
        color: #4A4A4A;
    }
        
                
}