/* ------start add & edit activity form-------- */
.css-1s2u09g-control{
    border: none !important;
    background-color: transparent !important;
    height: 100% !important;
}

.css-1pahdxg-control {
    border: none !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    background-color: transparent !important;
    height: 100% !important;
}

.css-14el2xx-placeholder {
    padding: 20px 8px !important;
}

.not_empty_input {
    border: none;
    color: #212529;
}

.image-edit {
    border: dotted 2px darkgrey;
    border-radius: 15px;
    width: 90%;
    margin: auto;
}

.image-edit img {
    width: 100px;
}
/* ------end add & edit activity form-------- */