.map-container {
    position: relative;
}

.map-tools {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    z-index: 1000;
    padding: 40px 40px;
}


.farm-name-input {

    background-color: #ffffffcc;
    padding: 15px 60px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 900;

}

.btn-farm-add {

    border: none;
    border-radius: 15px;
    padding: 0 50px;
    background-color: #16db93;
    color: white;
    height: 100%;
    font-weight: 900;

}

.btn-farm-cancel {

    border: none;
    border-radius: 15px;
    padding: 0 50px;
    background-color: #f2634c;
    color: white;
    height: 100%;
    font-weight: 900;

}


.btn-tools {

    margin: 0 10px 10px 0;
    width: 50%;
    height: 50px;
    background-color: #ffffffcc;
    color: black;
    border-radius: 10px;

}


.btn-tools-checked {

    margin: 0 10px 10px 0;
    width: 50%;
    height: 50px;
    background-color: #0a53be;
    color: white;
    border-radius: 10px;

}


@media screen and (max-width: 762px) {


    .farm-name-input {

        background-color: #ffffffcc;
        padding: 15px 60px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        font-weight: 900;

    }


    .btn-tools {

        margin: 0 10px 10px 0;
        width: 50%;
        height: 50px;
        background-color: #ffffffcc;
        color: black;
        border-radius: 10px;

    }


    .btn-tools-checked {

        margin: 0 10px 10px 0;
        width: 50%;
        height: 50px;
        background-color: #0a53be;
        color: white;
        border-radius: 10px;


    }


    .map-tools {
        position: absolute !important;
        bottom: 0 !important;
        width: 100%;
        z-index: 1000;
        padding: 10px 10px;
    }


}


.leaflet-container2 {
    width: 100%;
    height: 100vh;
}


.map-search-box {
    width: 250px;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action: none;
    touch-action: none;
    width: 100%;
    margin-top: 0px;
    height: 100%;
    border-radius: 0px;
}

.head-list {
    width: 100%;
    padding: 35px 20px;
    position: relative;
}

.head-list-filter-icon-list {
    padding: 10px 13px;
    background-color: #ff6a6a7d;
    position: absolute;
    right: 30px;
    top: 20px;
    border-radius: 11px;
}

.head-list-filter-icon-list svg {
    color: #ec3131;
}

/*.head-list h6 {*/

/*    text-align: right;*/

/*    padding: 0px 60px;*/

/*    font-weight: 400;*/

/*    color: #404040;*/

/*}*/

.search-input {
    background-color: white !important;
    height: 35px !important;
    line-height: 35px !important;
    width: 100% !important;
    padding: 0 20px !important;
    border: none !important;
    transition: all 0.4s ease !important;
    border-radius: 4px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    text-align: right !important;
}

.search-control-icon-button {
    background: #45aad6;
    padding: 4px;
    height: 35px !important;
    line-height: 35px;
    width: 40px;
    border-radius: 0;
}

.search-control-icon-button svg {
    stroke: white;
    /* margin-top: 4px; */
    margin-top: -5px;
}

.search-control-close-button svg {
    width: 35px;
    stroke: #b0b0b0;
    padding: 8px;
    stroke-width: 5;
}

.leaflet-container .leaflet-control-attribution {
    display: none !important;
}


.map-buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 99999 !important;
    text-align: right;
    /* padding-right: 50px; */
}

.map-buttons button {
    width: 170px !important;
    display: inline-block;
    margin: 0px !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-bottom: 20px !important;
    margin-right: 14px !important;
}

@media only screen and (max-width: 460px) {
    .map-buttons button {
        width: 40% !important;
        display: inline-block;
        margin: 0px !important;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-bottom: 5px !important;
        margin-right: 14px !important;
    }
}
